@font-face {
    font-family: "Margot";
    src: url("./fonts/Margot.woff2") format("woff2"),
        url("./fonts/Margot.woff") format("woff"),
        url("./fonts/Margot.ttf.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: "Margot";
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #232321;
  }
  
  main {
    position: relative;
  }

  .question {
    width: 50vw;
    min-height: 50vh; 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #f0e9e9;  
    border-radius: 20px;
    margin: auto;
    margin-top: 25vh;
    word-wrap: break-word;
  }

  .question__title {
    width: 45vw;
    margin: 10vh auto 0;
    font-size: 30px;
    line-height: 37px;
  }

  .question__list {
    text-transform: none;
    color: #ffcd57;
  }

  .question__item {
    padding: 5px;
  }

  .question__button {
    width: 35vw;
    font-family: "Margot";
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #232321;
    padding: 15px;
    margin: auto;
    margin-bottom: 35px;
    border-left: 2px solid #adaca7;
    border-top: 2px solid #adaca7;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-radius: 10px;
    text-decoration: none;
  }

  .question__button:hover, 
  .question__button:focus {
    border-color: #ffcd57;
    outline: none;
    border-right: 2px solid #ffcd5791;
    border-bottom: 2px solid #ffcd5791;
    border-left: 2px solid #ffcd57;
    border-top: 2px solid #ffcd57;
  }
  
  .question__button:active {
    font-weight: 700;
    border-right: 2px solid #ffcd5791;
    border-bottom: 2px solid #ffcd5791;
    border-left: 2px solid #ffcd57;
    border-top: 2px solid #ffcd57;
    background-image: linear-gradient(rgba(255, 205, 87, 0.2), rgba(255, 205, 87, 0.4), rgba(255, 205, 87, 0.6));
  }

  @media (max-width: 900px) {
    .question {
      width: 65vw;
      margin-top: 17vh;
    }

    .question__title {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }

    .question__list {
      padding-left: 35px;
    }

    .question__item {
      padding: 10px;
    }
    
    .question__button {
      width: 75%;
    }
  }

  @media (max-width: 768px) {
    .question {
      width: 90vw;
      flex-direction: column;
      margin-top: 10vh;
    }
    
    .question__title {
      font-size: 27px;
    }
    
    .question__button {
      width: 90%;
    }
  }
  
  .answer {
    position: relative;
    width: 50vw;
    min-height: 50vh; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #f0e9e9;  
    border-radius: 20px;
    word-wrap: break-word;
    color: #232321;
    background-color: #ffcd57;
    font-weight: 700;
    margin: auto;
    margin-top: 25vh;
  }
  
  .answer__button {
    position: absolute;
    font-family: "Margot";
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #ffcd57;
    background-image: linear-gradient(rgba(36, 36, 34, 0.6), rgba(36, 36, 34, 0.75), rgba(36, 36, 34, 0.9));
    padding: 10px;
    border-left: 2px solid #adaca7;
    border-top: 2px solid #adaca7;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-radius: 10px;
    right: 10px;
    top: 10px;
    text-decoration: none;
  }

  .answer__button:hover, 
  .answer__button:focus {
    color: #ffcd57;
    border-right: 2px solid #adaca7;
    border-bottom: 2px solid #adaca7;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    outline: none;
  }
  
  .answer__button:active {
    color: #ffcd57;
    border-right: 2px solid #adaca7;
    border-bottom: 2px solid #adaca7;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    background-image: linear-gradient(rgba(36, 36, 34, 0.9), rgba(36, 36, 34, 0.75), rgba(36, 36, 34, 0.6));
  }
  
  .answer__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 45px auto;
  }
  
  .answer__text {
    width: 28vw;
    font-size: 30px;
    line-height: 37px;
    padding: 10px;
    text-align: center;
    align-self: center;
  }
  
  .answer__img {
    width: 182px;
    height: 182px; 
    font-weight: 400;
    padding: 10px;
    text-align: center;
    align-self: center;
    border-radius: 10px;
    color: #ffffff;
    background-color: #ffcd57;
    background-image: linear-gradient(rgba(36, 36, 34, 0.6), rgba(36, 36, 34, 0.75), rgba(36, 36, 34, 0.9));
  }

  .answer__img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 900px) {
    .answer {
      width: 65vw;
      flex-direction: column-reverse;
      margin-top: 17vh;
    }

    .answer__info {
      flex-direction: column;
      width: inherit;
      margin: 35px auto 0;
    }
    
    .answer__text {
      width: 100%;
      padding: 15px;
    }

    .answer__button {
      position: relative;
      width: 75%;
      font-size: 18px;
      line-height: 30px;
      right: 0;
      top: 0;
      margin: 0 auto 35px;
    }
  }

  @media (max-width: 768px) {
    .answer {
      width: 90vw;
      margin-top: 10vh;
    }

    .answer__button {
      width: 90%;
    }
  }

  .page-footer {
    position: fixed;
    top: 1px;
    right: 10px;
  }

  @media (max-width: 768px) {
    .page-footer {
      position: relative;
      direction: rtl;
    } 
  }

  .visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
  
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
